video {
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
}
.location {
  font-size: 80px;
  color: #00204a;
  padding-top: 10px;
  font-variant: small-caps;
  line-height: normal;
}
.day {
  font-size: 32px;
}
.temperature {
  font-size: 34px;
}
.weatherDescription {
  font-size: 20px;
}
i {
  color: #fdb44b;
  font-size: 36px;
}
.container {
  display: grid;
  position: relative;
  text-align: center;
  color: #00204a;
}
.row {
  row-gap: 4em;
}
.weather-description {
  text-transform: capitalize;
}
.search {
  margin: 0 auto;
  width: 10%;
  position: relative;
  padding-top: 5em;
}
.temps {
  font-size: 30px;
}
